<div>
  <mat-card>

    <h2>TODO App</h2>

    <section>

      <input class="inputadd" type="text" placeholder="Adicione uma nova tarefa" #inputtarefa>

      <button mat-flat-button color="primary" (click)="add(inputtarefa.value)">
        <mat-icon>add_outlined</mat-icon>
      </button>
    </section>

    <mat-list>
      <mat-list-item *ngFor="let item of itens"> {{item}} <button mat-raised-button color="warn"
          (click)="remove('item')">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <footer class="diretiva">
      <p>Você tem {{itens.length}} tarefas pendentes</p>
      <button class="btn-alldel" mat-raised-button color="warn" (click)="openSnackBar()" (click)="limparTudo()">Limpar
        Tudo</button>
    </footer>

  </mat-card>

</div>